@{
    ViewData["Title"] = "Home Page";
}


<style>
#div-search {
	position: absolute;
	width: 20em;
	border: 1px solid;
	padding: 10px;
	box-shadow: 3px 3px #888888;
}

#wrap-search {
	display: inline-block;
}
</style>
<div id='mount'></div>
<script type="text/javascript" src="./js/app.js"></script>

